.recipes {
    display: grid;
    width: 225px;
    margin: 0 auto;
    grid-gap: 10px;
    color: black;
}

.recipes ul {
    display: inline;
    align-items: center;
}

.recipes li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    background: 1px white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}


.recipes li:hover{
    background: #eeee;
}

.delete-button {
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: 5px;
    background-color: white;
    border: 1px solid black;
}