#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbarButton {
  position: absolute;
  top: 50px;
  right: 100px;
  background-color: #ad5851;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white; 
  font-weight: bold; 
  cursor: pointer;
}

.recipes-wrapper {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-55%);
  width: 600px;
}


.header {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
